<h1>Edit Post</h1>

<%= form_tag(posts_path) do %>
    <div class="post-field">
      <%= label_tag "Title: " %>
      <%= text_field_tag :title, @post.title %>
    </div>

    <div class="post-field">
      <%= label_tag "Body: " %>
      <%= text_area_tag :content, @post.title %>
    </div>

    <%= submit_tag "Publish!" %>
<% end %>

<%= link_to "Neverdamnmind", :back %>
